# ELEC 0136 Data Acquisition and Processing Final Coursework

In [1]:
import os
import csv
import urllib
import json
import math

import pandas as pd
import numpy as np
import datetime
from alpha_vantage.timeseries import TimeSeries
from covid19dh import covid19
import requests
import matplotlib.pyplot as plt
import dataframe_image as dfi
import pickle
import seaborn as sns
from scipy import stats
from matplotlib.ticker import MultipleLocator

import time
from meteostat import Point
from meteostat import Daily

from numpy import sqrt, abs, round
from scipy.stats import norm

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

# Task1 Data Acquisition

In [2]:
start_date = datetime.datetime(2017, 4, 1)
end_date = datetime.datetime(2022, 5, 31)

In [3]:
def save_plot(name, plot):
    fig_dir='./Figures'
    plt.tight_layout()# Display appropiately.
    if not os.path.exists(fig_dir):
        os.makedirs(fig_dir) 
    file = os.path.join(fig_dir, (str(name) +' '+ str(plot) + ".jpg"))
    plt.savefig(file)
    plt.clf()  # Clear figure
    plt.cla()  # Clear axes
    plt.close()
    return

In [4]:
def save_file(dir,df,filename):
    if not os.path.exists(dir):
        os.makedirs(dir)
    df.to_pickle(os.path.join(dir, f'{filename}.pkl'))
    df.to_csv(os.path.join(dir, f'{filename}.csv'))

In [5]:
api_key='B1Q551T88OEDZJ52'

In [6]:
datasets_dir='./Datasets'

# Stock Data- APPLE

data is acquired using Alpha Vantage API, during the period 2017.4.1 to 2022.5.31, the data 5.1 to 5.31 are used to do the forecasting

In [7]:
def acquire_AAPL_data():
    ts = TimeSeries (key=api_key, output_format = "pandas")
    data_daily, meta_data = ts.get_daily_adjusted(symbol='AAPL', outputsize ='full')

    # start_date = datetime.datetime(2017, 4, 1)
    # end_date = datetime.datetime(2022, 5, 31)

    # Create a filtered dataframe, and change the order it is displayed. 
    stock_data = data_daily[(data_daily.index > start_date) & (data_daily.index <= end_date)]
    stock_data = stock_data.sort_index(ascending=True)
    #date_filter
    stock_data = stock_data.rename(columns={'1. open': 'Open', '2. high': 'High', '3. low': 'Low', '4. close': 'Original Close',
                                    '5. adjusted close': 'Close', '6. volume': 'Volume', '7. dividend amount': 'Dividend',
                                    '8. split coefficient': 'Split'})
    return stock_data

# Stock Data- GOOGLE
data is acquired using Alpha Vantage API, during the period 2017.4.1 to 2022.5.30, the data 5.1 to 5.31 are used to do the forecasting

In [8]:
def acquire_GOOG_data():
    ts = TimeSeries (key=api_key, output_format = "pandas")
    data_daily, meta_data = ts.get_daily_adjusted(symbol='GOOG', outputsize ='full')

    # start_date = datetime.datetime(2017, 4, 1)
    # end_date = datetime.datetime(2022, 5, 31)

    # Create a filtered dataframe, and change the order it is displayed. 
    stock_data_GOOG = data_daily[(data_daily.index > start_date) & (data_daily.index <= end_date)]
    stock_data_GOOG = stock_data_GOOG.sort_index(ascending=True)
    #date_filter
    stock_data_GOOG = stock_data_GOOG.rename(columns={'1. open': 'Open', '2. high': 'High', '3. low': 'Low', '4. close': 'Original Close',
                                    '5. adjusted close': 'Close', '6. volume': 'Volume', '7. dividend amount': 'Dividend',
                                    '8. split coefficient': 'Split'})
    return stock_data_GOOG

# Covid Data
data is acquired using the library covid19dh, during the period 2020.1.21 to 2022.5.31, the data 5.1 to 5.31 are used to do the forecasting

In [9]:
def acquire_covid_data():
    df_covid,src=covid19('USA',start=start_date,end=end_date,verbose = False)
    return df_covid

# Weather Data
data is acquired using the library meteostat to acquire the Cupertino weather, which is the city where Apple Inc. located.

In [10]:
from meteostat import Point
from meteostat import Daily
def acquire_Cupertino_weather():
    location=Point(37.323,-122.032,70)
    data=Daily(location, start_date, end_date)
    cupertino_weather=data.fetch()
    return cupertino_weather

# Task 3 Data Preprocessing
Data is preprocessed: excluding the unnecessary information, interpolate the missing values, set datetime index

In [11]:
def preprocessing(stock_data_AAPL, stock_data_GOOG, covid_data, weather_data):
    pdates = pd.date_range(start=start_date, end=end_date)
    preprocessed_path='./preprocessed'
    
    if not os.path.exists(preprocessed_path):
        os.makedirs(preprocessed_path) 
    
    '''stock data APPL preprocessing'''
    # stock_data_AAPL=stock_data_AAPL.drop(['Open','High','Low','Original Close','Volume','Dividend','Split'],axis=1)
    stock_data_AAPL=stock_data_AAPL[['Close']] #only Close values of this stock is extracted
    stock_data_AAPL=stock_data_AAPL.reindex(pdates, fill_value=np.nan) # interpolate and fill with nan values
    print(stock_data_AAPL) #dataframe
    save_file(preprocessed_path,stock_data_AAPL,'stock_pre_nan_AAPL')

    '''stock data GOOG preprocessing'''
    # stock_data_GOOG=stock_data_GOOG.drop(['Open','High','Low','Original Close','Volume','Dividend','Split'],axis=1)
    stock_data_GOOG=stock_data_GOOG[['Close']] #only Close values of this stock is extracted
    stock_data_GOOG=stock_data_GOOG.reindex(pdates, fill_value=np.nan)
    print(stock_data_GOOG)
    save_file(preprocessed_path,stock_data_GOOG,'stock_pre_nan_GOOG')

    '''covid data preprocessing'''
    covid_data=covid_data[['date', 'confirmed']] #only confirmed and date values of this stock are extracted
    covid_pre_filename='covid_pre'
    covid_data.set_index('date',inplace=True) #set datetime index

    covid_data["daily_confirmed"] = np.insert(np.diff(covid_data.values.flatten()), 0, 0) #change to daily confirmed
    covid_confirmed=covid_data[['confirmed']]
    covid_confirmed_pre=covid_confirmed.reindex(pdates,fill_value=np.nan)
    covid_daily=covid_data[['daily_confirmed']]
    covid_daily_pre=covid_daily.reindex(pdates,fill_value=np.nan)
    print(covid_daily)
    print(covid_daily_pre)
    print(covid_confirmed_pre)
    save_file(preprocessed_path, covid_daily_pre, 'covid_daily_pre')

    '''weather data preprocessing'''
    weather_pre_filename='weather_pre'
    # weather_data=weather_data.drop(['wpgt','snow','tsun','pres','wdir'],axis=1)
    weather_data=weather_data[['tavg', 'tmin', 'tmax', 'prcp', 'wspd']] #Only these 5 variables are kept
    weather_data=weather_data.fillna(0)
    print(weather_data)
    save_file(preprocessed_path, weather_data, 'weather_data_pre')

    return stock_data_AAPL, stock_data_GOOG, covid_daily, covid_daily_pre, covid_confirmed_pre, weather_data

- Acquiring Data: Stock_AAPL, Stock_GOOG, covid data, weather data

In [12]:
stock_AAPL=acquire_AAPL_data()
save_file(datasets_dir,stock_AAPL,'stock_AAPL')
stock_AAPL['Close']

date
2017-04-03     33.718447
2017-04-04     33.969517
2017-04-05     33.793534
2017-04-06     33.709062
2017-04-07     33.633975
                 ...
2022-05-24    139.755770
2022-05-25    139.915081
2022-05-26    143.161047
2022-05-27    148.995821
2022-05-31    148.199264
Name: Close, Length: 1300, dtype: float64

In [13]:
stock_GOOG=acquire_GOOG_data()
save_file(datasets_dir,stock_GOOG,'stock_GOOG')
stock_GOOG

,Open,High,Low,Original Close,Close,Volume,Dividend,Split
date,,,,,,,,
2017-04-03,829.22,840.8500,829.2200,838.55,41.9275,1671503.0,0.0,1.0
2017-04-04,831.36,835.1800,829.0363,834.57,41.7285,1045363.0,0.0,1.0
2017-04-05,835.51,842.4500,830.7200,831.41,41.5705,1555328.0,0.0,1.0
2017-04-06,832.40,836.3900,826.4600,827.88,41.3940,1254433.0,0.0,1.0
2017-04-07,827.96,828.4850,820.5127,824.67,41.2335,1056692.0,0.0,1.0
...,...,...,...,...,...,...,...,...
2022-05-24,2127.55,2127.9000,2044.1600,2118.52,105.9260,3019319.0,0.0,1.0
2022-05-25,2102.84,2130.8938,2084.2250,2116.79,105.8395,1894967.0,0.0,1.0
2022-05-26,2121.01,2179.1050,2109.7600,2165.92,108.2960,1514374.0,0.0,1.0
2022-05-27,2195.77,2257.3600,2191.0000,2255.98,112.7990,1496221.0,0.0,1.0
2022-05-31,2261.58,2328.6700,2251.4500,2280.78,114.0390,2565096.0,0.0,1.0

In [14]:
covid_data=acquire_covid_data()
save_file(datasets_dir,covid_data,'Covid')
covid_data

FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,id,date,confirmed,deaths,recovered,tests,vaccines,people_vaccinated,people_fully_vaccinated,hosp,...,iso_alpha_3,iso_alpha_2,iso_numeric,iso_currency,key_local,key_google_mobility,key_apple_mobility,key_jhu_csse,key_nuts,key_gadm
64210,59a13ceb,2020-01-21,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,USA,US,840.0,USD,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,United States,US,NaN,USA
64211,59a13ceb,2020-01-22,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,USA,US,840.0,USD,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,United States,US,NaN,USA
64212,59a13ceb,2020-01-23,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,USA,US,840.0,USD,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,United States,US,NaN,USA
64213,59a13ceb,2020-01-24,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,USA,US,840.0,USD,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,United States,US,NaN,USA
64214,59a13ceb,2020-01-25,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,USA,US,840.0,USD,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,United States,US,NaN,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65067,59a13ceb,2022-05-27,83903655.0,1003124.0,NaN,899459242.0,590847169.0,258443873.0,222267192.0,22493.0,...,USA,US,840.0,USD,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,United States,US,NaN,USA
65068,59a13ceb,2022-05-28,83917417.0,1003159.0,NaN,900042212.0,591049384.0,258471315.0,222291033.0,22059.0,...,USA,US,840.0,USD,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,United States,US,NaN,USA
65069,59a13ceb,2022-05-29,83926462.0,1003167.0,NaN,900389806.0,591162551.0,258488715.0,222304674.0,22352.0,...,USA,US,840.0,USD,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,United States,US,NaN,USA
65070,59a13ceb,2022-05-30,83958614.0,1003189.0,NaN,900688547.0,591194552.0,258494609.0,222308913.0,22820.0,...,USA,US,840.0,USD,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,United States,US,NaN,USA
65071,59a13ceb,2022-05-31,84140997.0,1003571.0,NaN,901411323.0,591572126.0,258544680.0,222354507.0,23971.0,...,USA,US,840.0,USD,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,United States,US,NaN,USA

In [15]:
weather_data=acquire_Cupertino_weather()
save_file(datasets_dir,weather_data,'Weather')

In [16]:
stock_AAPL_pre, stock_GOOG_pre, covid_daily, covid_daily_pre,covid_confirmed_pre, weather_data_pre = preprocessing(stock_AAPL, stock_GOOG, covid_data, weather_data)
print(covid_daily_pre)
print(covid_daily)
print(covid_confirmed_pre)
print(stock_AAPL_pre)
print(stock_GOOG_pre)

                 Close
2017-04-01         NaN
2017-04-02         NaN
2017-04-03   33.718447
2017-04-04   33.969517
2017-04-05   33.793534
...                ...
2022-05-27  148.995821
2022-05-28         NaN
2022-05-29         NaN
2022-05-30         NaN
2022-05-31  148.199264

[1887 rows x 1 columns]
               Close
2017-04-01       NaN
2017-04-02       NaN
2017-04-03   41.9275
2017-04-04   41.7285
2017-04-05   41.5705
...              ...
2022-05-27  112.7990
2022-05-28       NaN
2022-05-29       NaN
2022-05-30       NaN
2022-05-31  114.0390

[1887 rows x 1 columns]
            daily_confirmed
date
2020-01-21              0.0
2020-01-22              0.0
2020-01-23              0.0
2020-01-24              1.0
2020-01-25              1.0
...                     ...
2022-05-27         138911.0
2022-05-28          13762.0
2022-05-29           9045.0
2022-05-30          32152.0
2022-05-31         182383.0

[862 rows x 1 columns]
            daily_confirmed
2017-04-01              NaN
2017-04-02              NaN
2017-04-03              NaN
2017-04-04              NaN
2017-04-05              NaN
...                     ...
2022-05-27         138911.0
2022-05-28          13762.0
2022-05-29           9045.0
2022-05-30          32152.0
2022-05-31         182383.0

[1887 rows x 1 columns]
             confirmed
2017-04-01         NaN
2017-04-02         NaN
2017-04-03         NaN
2017-04-04         NaN
2017-04-05         NaN
...                ...
2022-05-27  83903655.0
2022-05-28  83917417.0
2022-05-29  83926462.0
2022-05-30  83958614.0
2022-05-31  84140997.0

[1887 rows x 1 columns]
            tavg  tmin  tmax  prcp  wspd
time
2017-04-01  17.4   9.7  25.3   0.0   7.5
2017-04-02  16.8  10.3  24.7   0.0  10.2
2017-04-03  15.4   9.7  21.9   0.0  11.8
2017-04-04  15.2   7.5  23.0   0.0   8.7
2017-04-05  17.4  11.9  24.1   0.0   8.4
...          ...   ...   ...   ...   ...
2022-05-27  17.0  13.6  21.9   0.0  14.9
2022-05-28  18.2  14.1  23.6   0.0  16.2
2022-05-29  16.9  12.5  23.0   0.0  17.9
2022-05-30  16.6  11.4  24.1   0.0  16.1
2022-05-31  18.3  11.4  26.9   0.0  14.1

[1887 rows x 5 columns]
            daily_confirmed
2017-04-01              NaN
2017-04-02              NaN
2017-04-03              NaN
2017-04-04              NaN
2017-04-05              NaN
...                     ...
2022-05-27         138911.0
2022-05-28          13762.0
2022-05-29           9045.0
2022-05-30          32152.0
2022-05-31         182383.0

[1887 rows x 1 columns]
            daily_confirmed
date
2020-01-21              0.0
2020-01-22              0.0
2020-01-23              0.0
2020-01-24              1.0
2020-01-25              1.0
...                     ...
2022-05-27         138911.0
2022-05-28          13762.0
2022-05-29           9045.0
2022-05-30          32152.0
2022-05-31         182383.0

[862 rows x 1 columns]
             confirmed
2017-04-01         NaN
2017-04-02         NaN
2017-04-03         NaN
2017-04-04         NaN
2017-04-05         NaN
...                ...
2022-05-27  83903655.0
2022-05-28  83917417.0
2022-05-29  83926462.0
2022-05-30  83958614.0
2022-05-31  84140997.0

[1887 rows x 1 columns]
                 Close
2017-04-01         NaN
2017-04-02         NaN
2017-04-03   33.718447
2017-04-04   33.969517
2017-04-05   33.793534
...                ...
2022-05-27  148.995821
2022-05-28         NaN
2022-05-29         NaN
2022-05-30         NaN
2022-05-31  148.199264

[1887 rows x 1 columns]
               Close
2017-04-01       NaN
2017-04-02       NaN
2017-04-03   41.9275
2017-04-04   41.7285
2017-04-05   41.5705
...              ...
2022-05-27  112.7990
2022-05-28       NaN
2022-05-29       NaN
2022-05-30       NaN
2022-05-31  114.0390

[1887 rows x 1 columns]

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# Data Visualization
- In total, scatter plot, line chart, z-score plot, box-plot are plotted. 
- Scatter plot is utilized when capping the outliers. Outliers are captured using z-score by putting the threshold.
- Some of Data Exploration parts are included, just as the plots mentioned, they are utilized to view the data distribution which give a better explanation on the datasets.

# Line Chart

In [17]:
def line_chart_plot(stock_AAPL, stock_GOOG, covid_daily, weather_data_pre):
    """plot AAPL stock prices"""
    stock_AAPL_pre = stock_AAPL[["Close"]]
    plt.figure(figsize=(16, 8))
    plt.title("APPLE stock prices")
    plt.ylabel("AAPL stock prices")
    plt.xlabel("Datetime")
    plt.plot(stock_AAPL_pre, label="AAPL: Close Price history")
    plt.legend()
    plt.grid()
    save_plot("AAPL stock prices", "line chart")
    # plt.savefig("AAPL stock price line chart.jpg")
    # plt.clf()  # Clear figure
    # plt.cla()  # Clear axes
    # plt.close()

    """plot GOOG stock prices"""
    stock_GOOG_pre = stock_GOOG[["Close"]]
    plt.figure(figsize=(16, 8))
    plt.title("GOOGLE stock prices")
    plt.ylabel("GOOG stock prices")
    plt.xlabel("Datetime")
    plt.plot(stock_GOOG_pre, label="GOOG: Close Price history")
    plt.legend()
    plt.grid()
    save_plot("GOOG stock prices", "line chart")
    # plt.savefig("GOOG stock price line chart.jpg")
    # plt.clf()  # Clear figure
    # plt.cla()  # Clear axes
    # plt.close()

    """plot covid data"""
    plt.figure(figsize=(16, 8))
    plt.title("Covid Data")
    plt.ylabel("People Get Confirmed--daily")
    plt.xlabel("Datetime")
    plt.plot(covid_daily, label="daily confirmed")
    plt.legend()
    plt.grid()
    save_plot("Covid data", "line chart")
    # plt.savefig("covid data line chart.jpg")
    # plt.clf()  # Clear figure
    # plt.cla()  # Clear axes
    # plt.close()

    """Plot Weather Data"""
    plt.figure(figsize=(8, 10))
    plt.subplot(5, 1, 1)
    plt.suptitle("Weather Data")
    plt.plot(weather_data_pre[["tavg"]], linestyle="-", marker="", c="b")
    plt.ylabel("tavg")
    plt.subplot(5, 1, 2)
    plt.plot(weather_data_pre[["tmin"]], linestyle="-", marker="", c="b")
    plt.ylabel("tmin")
    plt.subplot(5, 1, 3)
    plt.plot(weather_data_pre[["tmax"]], linestyle="-", marker="", c="b")
    plt.ylabel("tmax")
    plt.subplot(5, 1, 4)
    plt.plot(weather_data_pre[["prcp"]], linestyle="-", marker="", c="b")
    plt.ylabel("prcp")
    plt.subplot(5, 1, 5)
    plt.plot(weather_data_pre[["wspd"]], linestyle="-", marker="", c="b")
    plt.ylabel("wspd")
    save_plot("Weather data", "line chart")
    # plt.savefig("weather data line chart.jpg")
    # plt.clf()  # Clear figure
    # plt.cla()  # Clear axes
    # plt.close()
    return

In [18]:
line_chart_plot(stock_AAPL, stock_GOOG, covid_daily, weather_data_pre)

In [19]:
covid_daily

            daily_confirmed
date
2020-01-21              0.0
2020-01-22              0.0
2020-01-23              0.0
2020-01-24              1.0
2020-01-25              1.0
...                     ...
2022-05-27         138911.0
2022-05-28          13762.0
2022-05-29           9045.0
2022-05-30          32152.0
2022-05-31         182383.0

[862 rows x 1 columns]

# Z-plot

In [20]:
def z_score_plot(covid_daily, stock_AAPL, stock_GOOG):
   '''Covid z-score'''
   covid_np=covid_daily[['daily_confirmed']].to_numpy().flatten()
   covid_time=covid_daily.index.values
   z_covid = np.abs(stats.zscore(covid_np))
   print('z score of the (filled) covid dataset is:\r\n',z_covid)
   plt.figure(figsize=(16,7))
   plt.plot(covid_time,z_covid)
   plt.grid()
   plt.ylabel('Z score')
   plt.xlabel('Datetime')
   plt.title('Covid daily confirmed-Z score')
   save_plot('Covid_daily', 'Z-score') 

   '''stock AAPL'''
   AAPL_np=stock_AAPL[['Close']].to_numpy().flatten()
   AAPL_time=stock_AAPL.index.values
   z_AAPL = np.abs(stats.zscore(AAPL_np))
   print('z score of the AAPL dataset is:\r\n',z_AAPL)
   plt.figure(figsize=(16,7))
   plt.plot(AAPL_time,z_AAPL)
   plt.grid()
   plt.ylabel('Z score')
   plt.xlabel('Datetime')
   plt.title('stock AAPL -Z score')
   save_plot('Stock AAPL','Z-score')

   '''stock GOOG'''
   GOOG_np=stock_GOOG[['Close']].to_numpy().flatten()
   GOOG_time=stock_GOOG.index.values
   z_GOOG = np.abs(stats.zscore(GOOG_np))
   print('z score of the GOOG dataset is:\r\n',z_GOOG)
   plt.figure(figsize=(16,7))
   plt.plot(GOOG_time,z_GOOG)
   plt.grid()
   plt.ylabel('Z score')
   plt.xlabel('Datetime')
   plt.title('stock GOOG-Z score')
   save_plot('Stock GOOG', 'Z-score')

   return z_covid, z_AAPL, z_GOOG

In [21]:
z_covid, z_AAPL, z_GOOG= z_score_plot(covid_daily, stock_AAPL, stock_GOOG)

z score of the (filled) covid dataset is:
 [6.80905732e-01 6.80905732e-01 6.80905732e-01 6.80898756e-01
 6.80898756e-01 6.80891781e-01 6.80905732e-01 6.80905732e-01
 6.80905732e-01 6.80898756e-01 6.80898756e-01 6.80898756e-01
 6.80884805e-01 6.80905732e-01 6.80905732e-01 6.80898756e-01
 6.80905732e-01 6.80905732e-01 6.80905732e-01 6.80905732e-01
 6.80898756e-01 6.80905732e-01 6.80898756e-01 6.80898756e-01
 6.80905732e-01 6.80905732e-01 6.80905732e-01 6.80835975e-01
 6.80905732e-01 6.80905732e-01 6.80891781e-01 6.80884805e-01
 6.80905732e-01 6.80905732e-01 6.80815048e-01 6.80891781e-01
 6.80801097e-01 6.80905732e-01 6.80870854e-01 6.80870854e-01
 6.80780170e-01 6.80794121e-01 6.80759243e-01 6.80654608e-01
 6.80438361e-01 6.80326751e-01 6.80089577e-01 6.80075626e-01
 6.79503620e-01 6.79022298e-01 6.79196690e-01 6.78080581e-01
 6.77027253e-01 6.76204123e-01 6.76008804e-01 6.74578789e-01
 6.71146754e-01 6.63857168e-01 6.52703054e-01 6.41709381e-01
 6.35452195e-01 6.21298539e-01 6.08135429e-01 6.08128453e-01
 5.78823617e-01 5.62333108e-01 5.60017182e-01 5.33956038e-01
 5.51716121e-01 5.31144838e-01 5.09959695e-01 4.93050645e-01
 4.73609422e-01 4.55465676e-01 4.36066307e-01 5.02216689e-01
 4.65245580e-01 4.69284500e-01 4.58939565e-01 4.38856580e-01
 4.47408764e-01 4.59637133e-01 4.91564825e-01 5.01149410e-01
 4.94717832e-01 4.71405107e-01 4.60383531e-01 4.61109002e-01
 4.82810345e-01 5.04183831e-01 4.89806953e-01 5.02928209e-01
 4.79789875e-01 4.45295133e-01 4.24612239e-01 4.40886503e-01
 4.94410902e-01 5.19090862e-01 5.08934270e-01 4.95666525e-01
 4.69144986e-01 4.43941851e-01 4.75304512e-01 4.98561433e-01
 5.27705828e-01 5.15533264e-01 5.09945744e-01 4.82266242e-01
 4.88042106e-01 5.07434499e-01 5.39180823e-01 5.57987258e-01
 5.25348047e-01 5.33404959e-01 4.92827423e-01 4.97884792e-01
 5.15868097e-01 5.48270135e-01 5.28647544e-01 5.34576873e-01
 5.19976773e-01 5.01400535e-01 5.14891502e-01 5.25571269e-01
 5.41175867e-01 5.47670226e-01 5.49093265e-01 5.50153569e-01
 5.23869203e-01 5.09666717e-01 5.17695725e-01 5.36969532e-01
 5.28159247e-01 5.35874350e-01 5.41482797e-01 5.30119413e-01
 4.80640908e-01 5.23841300e-01 5.51046456e-01 5.53899509e-01
 5.49728052e-01 5.21497471e-01 5.19055983e-01 5.03074698e-01
 5.04183831e-01 5.47460956e-01 5.40575959e-01 5.07315912e-01
 5.01944638e-01 4.85175101e-01 4.65803635e-01 4.57509550e-01
 4.96894245e-01 4.68384637e-01 4.36338359e-01 4.22882270e-01
 3.93696021e-01 3.63316931e-01 3.85841404e-01 4.05310530e-01
 4.05394238e-01 3.43359508e-01 3.32296078e-01 2.93343875e-01
 2.82217664e-01 3.32079832e-01 3.68625424e-01 3.50844413e-01
 3.03633005e-01 2.66166622e-01 2.63139177e-01 2.04975949e-01
 2.57335410e-01 2.77676496e-01 2.51433984e-01 2.23287112e-01
 2.04173746e-01 1.52937370e-01 1.86169514e-01 2.45267482e-01
 2.46495202e-01 2.63146153e-01 2.25554208e-01 1.94428720e-01
 1.92566213e-01 1.68018792e-01 2.15097662e-01 3.02705239e-01
 2.68077959e-01 2.40628655e-01 2.15055808e-01 1.99946483e-01
 1.98969888e-01 2.84491736e-01 3.26582995e-01 3.49672499e-01
 3.07364994e-01 3.06151226e-01 2.79706419e-01 2.54294014e-01
 2.95569118e-01 3.42724721e-01 3.51841936e-01 3.08704325e-01
 3.02279723e-01 3.03793445e-01 2.66013158e-01 3.26938755e-01
 3.86971465e-01 4.19157257e-01 3.79326118e-01 3.80860768e-01
 3.59731431e-01 3.38985756e-01 3.66818723e-01 4.55361041e-01
 3.99060320e-01 4.07940362e-01 3.65974665e-01 3.61168421e-01
 3.56090125e-01 3.69727582e-01 4.47715694e-01 4.26384062e-01
 3.73633963e-01 4.54586740e-01 3.57255064e-01 3.17465780e-01
 3.86162286e-01 4.71649256e-01 5.05355746e-01 4.79015575e-01
 4.48392335e-01 4.15404340e-01 3.49093517e-01 4.08128705e-01
 4.48315603e-01 4.23593790e-01 4.07340453e-01 4.06984693e-01
 3.64837629e-01 3.39885619e-01 3.89245537e-01 4.27297876e-01
 2.97578114e-01 4.20078046e-01 3.91073165e-01 3.65577051e-01
 3.00166091e-01 3.83079035e-01 4.20726785e-01 4.20294293e-01
 3.76089403e-01 3.87522544e-01 3.57108575e-01 3.07148748e-01
 3.47614673e-01 4.36317432e-01 2.45532558e-01 3.81914096e-01
 3.11076056e-01 2.87602890e-01 2.69605633e-01 3.20625763e-01
 3.68513813e-01 3.45961437e-01 3.01477519e-01 2.63390301e-01
 2.25024056e-01 1.89371351e-01 3.12861831e-01 3.46896178e-01
 2.24417172e-01 2.58221322e-01 2.32808916e-01 1.56822824e-01
 8.59010760e-02 1.32763700e-01 2.64352945e-01 1.60254859e-01
 1.62005755e-01 1.09723026e-01 4.84277180e-02 1.57415708e-02
 9.35045682e-02 1.63345086e-01 2.51498708e-02 3.62412034e-02
 7.30119112e-02 1.65586173e-01 2.45625136e-01 1.97548743e-01
 3.98425484e-02 2.29029991e-01 2.93485283e-01 3.16888692e-01
 4.60671427e-01 5.85152454e-01 4.28457733e-01 2.62108670e-01
 4.80984610e-01 4.46580552e-01 5.20864578e-01 6.27090247e-01
 7.06271202e-01 5.18444017e-01 3.01228288e-01 5.72087003e-01
 5.59774926e-01 5.78832487e-01 3.75475494e-02 7.54961454e-01
 3.75268166e-01 2.68637907e-01 4.88622981e-01 6.04210014e-01
 7.22405951e-01 8.37965082e-01 9.33043613e-01 7.54047640e-01
 5.18360309e-01 7.45781458e-01 8.51749027e-01 8.51762979e-01
 8.93658918e-01 1.27239654e+00 7.66771282e-01 6.04147233e-01
 7.20403931e-01 7.36224775e-01 1.02692930e+00 9.77276406e-01
 1.07131556e+00 6.71713678e-01 5.74095999e-01 7.24819537e-01
 7.25649643e-01 9.07896283e-01 6.68965260e-01 2.31567197e-02
 8.31847410e-01 3.80018605e-01 6.37567720e-01 7.21415405e-01
 9.16169441e-01 9.30643979e-01 3.46249333e-01 1.35327258e+00
 7.26647166e-01 1.07578000e+00 9.58490897e-01 1.10463141e+00
 1.27461481e+00 1.41721865e+00 1.07640083e+00 7.72093727e-01
 8.97802473e-01 9.23340441e-01 9.18792297e-01 9.89923315e-01
 9.92232265e-01 7.29528122e-01 5.05615740e-01 3.03593044e-01
 6.23155963e-01 6.12999372e-01 6.47835922e-01 6.55390585e-01
 4.90429682e-01 2.23672668e-01 4.11318485e-01 3.69896892e-01
 4.05696086e-01 4.78278046e-01 4.67395984e-01 2.52440376e-01
 1.14600921e-01 3.06913468e-01 1.23083349e-01 1.57452529e-01
 1.95490917e-01 2.22451924e-01 5.11710543e-02 7.20613250e-02
 3.22929680e-02 8.51984744e-03 1.83904359e-02 5.60052011e-02
 1.40604317e-02 9.04003902e-02 2.35996802e-01 2.95345896e-01
 2.30695285e-01 1.91484982e-01 1.80114623e-01 1.36718912e-01
 1.94561258e-01 2.95987658e-01 2.66089890e-01 1.79263589e-01
 1.63352061e-01 1.37625750e-01 1.34591329e-01 2.43711906e-01
 3.25808694e-01 2.85412526e-01 2.78799581e-01 2.16241674e-01
 2.11567968e-01 2.22638374e-01 2.86186827e-01 4.01432051e-01
 2.16132005e-02 2.90972144e-01 2.74955980e-01 2.45713926e-01
 2.33304190e-01 3.35211912e-01 4.15906589e-01 2.82147907e-01
 3.00514875e-01 2.69821879e-01 2.59086306e-01 2.58019027e-01
 3.01254298e-01 4.42386274e-01 2.99224374e-01 2.85063742e-01
 1.23527899e-01 1.98774569e-01 1.61224479e-01 2.57481900e-01
 3.70383296e-01 1.87453039e-01 2.46781205e-01 2.07005873e-01
 1.42431994e-01 2.02450753e-01 2.33513460e-01 4.24040233e-01
 1.46610427e-01 2.48608834e-01 1.71053213e-01 1.19656396e-01
 1.11815731e-01 2.29174587e-01 3.46233488e-01 1.79131052e-01
 1.41539107e-01 1.52497902e-01 1.66839902e-01 1.34333229e-01
 3.05097898e-01 3.92119517e-01 1.90794390e-01 2.55221779e-01
 2.44960552e-01 2.18829652e-01 2.35968900e-01 3.28857067e-01
 4.46585634e-01 3.50711875e-01 3.19028333e-01 2.98512855e-01
 2.79232073e-01 2.72709811e-01 3.68681229e-01 4.74202355e-01
 3.32512324e-01 3.95216720e-01 3.68960257e-01 3.48207606e-01
 3.49609718e-01 4.46062458e-01 5.25152728e-01 4.25895764e-01
 4.43446578e-01 4.33387646e-01 4.12767533e-01 3.95035352e-01
 4.78262201e-01 5.64342104e-01 4.77167019e-01 4.86542334e-01
 4.80047975e-01 4.74300014e-01 4.24200674e-01 6.07472739e-01
 5.82199847e-01 5.02132981e-01 5.21595131e-01 5.17772458e-01
 4.87351513e-01 5.27273335e-01 6.00266861e-01 6.28992715e-01
 6.42518560e-01 5.23464613e-01 5.63309703e-01 5.45082249e-01
 8.48315099e-01 6.08023818e-01 6.37984367e-01 5.45214787e-01
 5.81955698e-01 5.36760261e-01 5.70696949e-01 5.63525949e-01
 6.23154070e-01 6.33561786e-01 5.75440412e-01 5.98090448e-01
 5.80379194e-01 5.95893109e-01 5.92314584e-01 6.28030071e-01
 6.52563540e-01 5.70383043e-01 5.91889068e-01 5.83029953e-01
 5.78398101e-01 5.76528618e-01 6.33533883e-01 6.52396124e-01
 5.72447845e-01 5.71185247e-01 5.69455278e-01 2.27772475e-01
 5.38350717e-01 6.53051838e-01 6.60522792e-01 6.48880381e-01
 4.92025220e-01 4.70107630e-01 3.37472033e-01 4.34420046e-01
 6.26788399e-01 6.42239533e-01 4.34085214e-01 3.81077014e-01
 4.15446194e-01 4.29655656e-01 3.16607771e-01 5.94093383e-01
 6.17936260e-01 2.68070983e-01 2.47639214e-01 2.61995165e-01
 2.23866093e-01 1.03451889e-01 5.30300781e-01 5.84411138e-01
 3.15674972e-02 6.42225533e-02 8.82449048e-02 4.76184905e-03
 1.74828950e-01 4.73741960e-01 5.21204493e-01 2.68972740e-01
 3.67615844e-01 1.02770166e-01 2.04810427e-01 4.93457128e-01
 3.87124930e-01 4.29306872e-01 5.65585669e-01 4.49789365e-01
 4.04349780e-01 2.86683994e-01 6.26281068e-01 3.33398235e-01
 3.75245345e-01 1.12923464e+00 3.25664099e-01 4.69167807e-01
 4.33849934e-01 7.09305623e-01 1.27099448e-01 3.97881430e-01
 1.17565082e+00 3.66820616e-01 5.11489263e-01 6.28855095e-01
 6.85706894e-01 8.61661518e-02 3.86824975e-01 1.27509613e+00
 4.36947137e-01 7.90928065e-01 5.44693504e-01 6.54762774e-01
 2.20134104e-01 3.71066912e-01 1.43945717e-01 1.41973687e+00
 6.03937962e-01 5.08943139e-01 5.49018426e-01 1.65221544e-01
 4.04961746e-01 1.30756792e+00 3.84252843e-01 5.06320283e-01
 3.99508657e-01 4.83600491e-01 2.05303806e-01 4.02185425e-01
 7.71193864e-01 2.25758397e-01 3.47958375e-01 2.11032734e-01
 2.95766330e-01 3.21016402e-01 4.42093295e-01 6.77880180e-01
 1.09717944e-01 2.15552975e-01 1.29731173e-01 1.96467512e-01
 3.72427170e-01 5.00661113e-01 5.23787388e-01 6.91035877e-03
 1.97716159e-01 5.43449891e-02 1.06830012e-01 4.20475660e-01
 5.20193019e-01 1.81846485e-01 9.74128431e-02 6.24019006e-02
 6.02863756e-02 6.61738017e-03 4.46934418e-01 5.26380448e-01
 1.70357539e-01 9.71598250e-02 7.66582987e-02 1.09276583e-01
 7.19497141e-02 4.72863024e-01 5.61607637e-01 5.54541223e-02
 7.10707783e-02 2.13969544e-02 7.97066713e-02 6.20023931e-02
 4.75743980e-01 5.49183949e-01 1.88054841e-01 1.44175914e-01
 8.90610594e-02 1.01317331e-01 4.07614447e-02 4.58109459e-01
 5.26847819e-01 2.01245854e-01 9.73830468e-02 5.43151442e-03
 2.30269768e-01 2.21405572e-01 2.52619850e-01 5.16216881e-01
 3.55847870e-01 4.97042676e-02 1.16812212e-01 8.83235309e-02
 1.53720540e-01 3.94456370e-01 4.62064670e-01 4.27516016e-01
 3.37648367e-02 1.55422606e-01 4.65685048e-01 3.21483772e-01
 5.08752902e-01 5.13838174e-01 8.28017761e-01 8.14943392e-02
 2.90946135e-01 2.86704921e-01 3.88082492e-01 2.75311740e-01
 4.39735515e-01 6.96400613e-01 1.14300967e-01 3.58784632e-01
 1.80625741e-01 4.70514113e-01 3.22739395e-01 4.27297876e-01
 7.34341342e-01 1.34265365e-01 3.32493290e-01 3.39768926e-01
 5.12947180e-01 1.60080467e-01 1.75315354e-01 1.43202802e+00
 6.40783509e-01 1.01901190e+00 1.16914949e+00 6.02096383e-01
 2.73888701e-01 6.42478599e-01 3.11065588e+00 1.97481971e+00
 2.73064869e+00 3.40025127e+00 2.43420317e+00 4.42597438e-01
 1.31858252e+00 6.42685971e+00 5.49889186e+00 4.23042008e+00
 4.61515679e+00 5.59839297e+00 2.43192213e+00 1.51877061e+00
 9.32206028e+00 4.68986633e+00 5.46454360e+00 5.37891712e+00
 5.82967865e+00 2.27139078e+00 1.67552812e+00 4.28613485e+00
 7.53925760e+00 5.26206051e+00 4.53913582e+00 5.07622837e+00
 1.67257740e+00 7.10610075e-01 6.51910612e+00 2.88306034e+00
 4.09357118e+00 3.01804674e+00 3.19600334e+00 1.00799730e+00
 4.49696739e-02 3.93679972e+00 1.38672097e+00 1.58639286e+00
 1.49719483e+00 1.50234288e+00 1.82453369e-01 2.72988838e-01
 1.74746134e+00 6.75836306e-01 8.98032670e-01 5.30023647e-01
 5.03725330e-01 2.34727229e-01 4.41026016e-01 7.58344660e-01
 1.24869123e-01 3.03920901e-01 4.36233675e-02 8.36916787e-02
 3.58552541e-01 4.98373089e-01 2.92646307e-01 1.77919177e-01
 9.11537637e-02 1.68848898e-01 8.10948318e-02 5.04965108e-01
 6.17524695e-01 7.10726719e-02 3.76884630e-01 2.75297789e-01
 3.20004928e-01 3.35002642e-01 5.65004793e-01 6.33645494e-01
 2.41075098e-01 4.43620970e-01 3.48137849e-01 4.14483550e-01
 3.71359891e-01 6.04717345e-01 6.36331131e-01 3.38762534e-01
 3.43310678e-01 4.06091806e-01 4.29878878e-01 4.26509624e-01
 5.96367455e-01 6.26125710e-01 3.59082692e-01 5.01846978e-01
 3.52441844e-01 4.17601680e-01 4.45567185e-01 5.96813898e-01
 6.28602076e-01 3.86280872e-01 5.02132981e-01 3.63916839e-01
 4.17385434e-01 4.54649521e-01 6.01417848e-01 6.46536552e-01
 3.94623787e-01 4.65406021e-01 3.36844222e-01 4.31832069e-01
 3.73243325e-01 5.86587550e-01 6.23809784e-01 3.32226321e-01
 4.78373812e-01 3.04853749e-01 2.80062179e-01 3.48737758e-01
 6.04849883e-01 6.02227027e-01 2.61834725e-01 3.31968221e-01
 2.42156329e-01 2.67485026e-01 2.05882788e-01 5.48946776e-01
 5.94470070e-01 1.60436227e-01 2.99663842e-01 9.16699641e-02
 1.67711862e-01 1.10078786e-01 5.25166680e-01 5.73703468e-01
 1.23285692e-02 1.97253871e-01 3.03067926e-02 2.91887900e-02
 1.67371996e-02 4.69138010e-01 5.98641527e-01 1.04925651e-01
 2.78215566e-02 4.45910887e-01 1.23787893e-01 1.17565585e-01
 5.06060290e-01 5.45305470e-01 3.64176833e-01 2.54484251e-01
 4.97391412e-01 1.64281720e-01 2.95801209e-01 4.20664004e-01
 5.27531435e-01 2.46050652e-01 2.42430274e-01 6.24202315e-01
 1.88550114e-01 2.88093081e-01 5.84906411e-01 6.17810698e-01
 4.56623639e-01 5.91339883e-01]
z score of the AAPL dataset is:
 [1.05800712 1.05252385 1.05636726 ... 1.33217418 1.45960323 1.44220677]
z score of the GOOG dataset is:
 [1.1229612  1.12911308 1.13399749 ... 0.92875333 1.06795899 1.10629232]

In [22]:
stock_AAPL_pre

                 Close
2017-04-01         NaN
2017-04-02         NaN
2017-04-03   33.718447
2017-04-04   33.969517
2017-04-05   33.793534
...                ...
2022-05-27  148.995821
2022-05-28         NaN
2022-05-29         NaN
2022-05-30         NaN
2022-05-31  148.199264

[1887 rows x 1 columns]

# Scatter Plot (Covid Data) - Outlier

In [23]:
def scatter_plot_covid(covid_daily):
# set a threshold and find the location where the value meets our condition(s)

    covid_np=covid_daily[['daily_confirmed']].to_numpy().flatten()
    covid_time=covid_daily.index.values

    threshold = 6
    covid_outlier_loc = np.where(z_covid > threshold)
    covid_time=covid_daily.index.values
    # find the outlier value given its index
    covid_outlier_by_Z_Score = z_covid[covid_outlier_loc]
    print('the data classified as outlier by z score:\r\n', covid_outlier_by_Z_Score)
    print('the datetime of the outlier is:\r\n', covid_time[covid_outlier_loc])

    plt.figure(figsize=(16,7))
    plt.scatter(covid_time,covid_np)
    plt.xlabel('Date')
    plt.ylabel('Covid')
    plt.grid()
    save_plot('Covid data','Scatter Plot')

    capped_outlier_dataset = np.copy(covid_np)
    capped_outlier_dataset[covid_outlier_loc] = np.mean(covid_np)


    # Plot and compare, before and after the outlier is capped.
    fig, (ax1, ax2) = plt.subplots(1, 2, sharey = True, figsize=(12, 5))
    ax1.set_title("Before Cap")
    ax1.scatter(covid_time, covid_np)
    ax1.scatter(covid_time[covid_outlier_loc], covid_np[covid_outlier_loc], c = 'r')
    ax1.set_xlabel("Date")
    ax1.set_ylabel("People Confirmed")
    ax1.xaxis.set_major_locator(MultipleLocator(465)) # Spacing of axis tickers.

    ax2.set_title("After Cap")
    ax2.scatter(covid_time, capped_outlier_dataset)
    ax2.scatter(covid_time[covid_outlier_loc], capped_outlier_dataset[covid_outlier_loc], c = 'r')
    ax2.set_xlabel("Date")
    ax2.xaxis.set_major_locator(MultipleLocator(465)) # Spacing of axis tickers.

    save_plot('Covid Data','Outlier Cap')
    return

In [24]:
scatter_plot_covid(covid_daily)

the data classified as outlier by z score:
 [6.42685971 9.32206028 7.5392576  6.51910612]
the datetime of the outlier is:
 ['2022-01-03T00:00:00.000000000' '2022-01-10T00:00:00.000000000'
 '2022-01-18T00:00:00.000000000' '2022-01-24T00:00:00.000000000']

In [25]:
covid_np=covid_daily[['daily_confirmed']].to_numpy().flatten()
covid_time=covid_daily.index.values

In [26]:
def capped_outlier(covid_np):
    capped_outlier_dataset = np.copy(covid_np)
    capped_outlier_dataset[covid_outlier_loc] = np.mean(covid_np)


    # Plot and compare, before and after the outlier is capped.
    fig, (ax1, ax2) = plt.subplots(1, 2, sharey = True, figsize=(12, 5))
    ax1.set_title("Before Cap")
    ax1.scatter(covid_time, covid_np)
    ax1.scatter(covid_time[covid_outlier_loc], covid_np[covid_outlier_loc], c = 'r')
    ax1.set_xlabel("Date")
    ax1.set_ylabel("People Confirmed")
    ax1.xaxis.set_major_locator(MultipleLocator(465)) # Spacing of axis tickers.

    ax2.set_title("After Cap")
    ax2.scatter(covid_time, capped_outlier_dataset)
    ax2.scatter(covid_time[covid_outlier_loc], capped_outlier_dataset[covid_outlier_loc], c = 'r')
    ax2.set_xlabel("Date")
    ax2.xaxis.set_major_locator(MultipleLocator(465)) # Spacing of axis tickers.

    save_plot('Covid Data','Outlier Cap')

# Box Plot

- the box plot of stock_AAPL, covid_daily and stock_GOOG are plotted to see the data distribution

In [27]:
def box_plot(stock_AAPL, covid_daily, stock_GOOG):
    AAPL_np = stock_AAPL[["Close"]].to_numpy().flatten()
    # AAPL_time=stock_AAPL_pre.index.values
    sns.boxplot(AAPL_np)
    plt.ylabel(r"AAPL Stock Price")
    save_plot("AAPL stock price", "box plot")

    covid_np = covid_daily[["daily_confirmed"]].to_numpy().flatten()
    # covid_time=covid_daily.index.values
    sns.boxplot(covid_np)
    plt.ylabel(r"Covid Data")
    save_plot("Covid Data", "box plot")

    GOOG_np = stock_GOOG[["Close"]].to_numpy().flatten()
    sns.boxplot(GOOG_np)
    plt.ylabel(r"GOOG Stock Price")
    save_plot("GOOG stock price", "box plot")
    return

In [28]:
box_plot(stock_AAPL_pre, covid_daily,stock_GOOG_pre)

In [29]:
# covid_np = covid_daily[["daily_confirmed"]].to_numpy().flatten()
# # covid_time=covid_daily.index.values
# sns.boxplot(covid_np)
# plt.ylabel(r"Covid Data")
# save_plot("Covid Data", "box plot")

In [30]:
# GOOG_np = stock_GOOG_pre[["Close"]].to_numpy().flatten()
# sns.boxplot(GOOG_np)
# plt.ylabel(r"GOOG Stock Price")
# save_plot("GOOG stock price", "box plot")

# Merge

In [31]:
stock_AAPL_pre

                 Close
2017-04-01         NaN
2017-04-02         NaN
2017-04-03   33.718447
2017-04-04   33.969517
2017-04-05   33.793534
...                ...
2022-05-27  148.995821
2022-05-28         NaN
2022-05-29         NaN
2022-05-30         NaN
2022-05-31  148.199264

[1887 rows x 1 columns]

In [32]:
stock_AAPL_merge = stock_AAPL_pre.rename(columns={"Close": "AAPL Close"})
stock_GOOG_merge = stock_GOOG_pre.rename(columns={"Close": "GOOG Close"})

To merge the datasets, two data are prepared, pd_merged is all original data which merged together for easy looking, norm_aux only contains the auxiliary data and it is used for future normalization.

In [33]:
def merge(stock_AAPL_pre, stock_GOOG_pre):
    stock_AAPL_merge = stock_AAPL_pre.rename(columns={"Close": "AAPL Close"})
    stock_GOOG_merge = stock_GOOG_pre.rename(columns={"Close": "GOOG Close"})
    pd_merged = pd.concat(
        [
            stock_AAPL_merge,
            stock_GOOG_merge,
            covid_confirmed_pre,
            covid_daily_pre,
            weather_data_pre,
        ],
        axis=1,
        join="outer",
    )

    norm_aux = pd.concat(
        [stock_GOOG_merge, covid_confirmed_pre, covid_daily_pre, weather_data_pre],
        axis=1,
        join="outer",
    )
    return pd_merged, norm_aux, stock_AAPL_merge, stock_GOOG_merge

In [34]:
pd_merged, norm_aux, stock_AAPL_merge, stock_GOOG_merge = merge(
    stock_AAPL_pre, stock_GOOG_pre
)

# Correlation

- EDA -> heatmap to check correlation

In [35]:
#normalize the auxiliary data
norm_aux = (norm_aux - norm_aux.mean()) / (norm_aux.std())
norm_aux

,GOOG Close,confirmed,daily_confirmed,tavg,tmin,tmax,prcp,wspd
2017-04-01,NaN,NaN,NaN,0.392916,-0.234053,0.601411,-0.200616,-0.682312
2017-04-02,NaN,NaN,NaN,0.261231,-0.094369,0.498022,-0.200616,-0.037787
2017-04-03,-1.122529,NaN,NaN,-0.046035,-0.234053,0.015542,-0.200616,0.344154
2017-04-04,-1.128679,NaN,NaN,-0.089930,-0.746227,0.205088,-0.200616,-0.395856
2017-04-05,-1.133561,NaN,NaN,0.392916,0.278122,0.394634,-0.200616,-0.467470
...,...,...,...,...,...,...,...,...
2022-05-27,1.067548,1.999128,0.287926,0.305126,0.673893,0.015542,-0.200616,1.084165
2022-05-28,NaN,1.999646,-0.584567,0.568497,0.790296,0.308477,-0.200616,1.394492
2022-05-29,NaN,1.999987,-0.617452,0.283178,0.417806,0.205088,-0.200616,1.800305
2022-05-30,NaN,2.001199,-0.456359,0.217336,0.161718,0.394634,-0.200616,1.370621
2022-05-31,1.105867,2.008075,0.590997,0.590444,0.161718,0.877114,-0.200616,0.893195

In [36]:
def heatmap_plot(pd_merged):
    plt.figure(dpi=250)
    sns.heatmap(
        pd_merged.corr(),
        cmap=sns.diverging_palette(20, 220, n=200),
        annot=True,  # 注入数据
        fmt=".2f",  # 字符串格式代码
        center=0,  # 绘制有色数据时将色彩映射居中的值
    )
    plt.tight_layout()
    save_plot("Merged Data", "Heat Map")

In [37]:
heatmap_plot(pd_merged)

- The seasonality, trend, random noise components of the time series data. Plotted and saved, but to the directory where the jupyter noteboook is.

In [38]:
import statsmodels.api as sm
decomposition = sm.tsa.seasonal_decompose(stock_AAPL['Close'] ,model='multiplicate', period=7)
decomposition.plot()
save_plot('AAPL Close stock price-period=7','Seasonal, Trend, Resid')

# Hypothesis Test

In [39]:
from numpy import sqrt, abs, round
from scipy.stats import norm

In [40]:
def stat_cal(var):
    var_max = var.max()
    var_std = var.std()
    var_min = var.min()
    var_mean = var.mean()
    var_median = var.median()
    var_size = var.shape[0]
    return var_max, var_std, var_min, var_mean, var_median, var_size

In [41]:
def two_samples_t_test(mean1, mean2, std1, std2, size1, size2, significance_level=0.05):
    """
    Executes a two sample T-test with the statistic properties passed.
    mean1: mean of the first sample.
    mean2: mean of the second sample.
    std1: standard deviation of the first sample.
    std2: standard deviation of the second sample.
    size1: size of the first sample.
    size2: size of the second sample.
    the default value of the significance_level = 0.05
    """
    overall_std = sqrt(std1 ** 2 / size1 + std2 ** 2 / size2)
    z_statistic = round((mean1 - mean2) / overall_std, 5)
    # Two tails -> H0:x1=x2 H1:x1!=x2
    print('Two Tails test. H0 is x1=x2 and H1 is x1!=x2')
    p_value = round(2 * (1 - norm.cdf(abs(z_statistic))), 5)
    # Reject or not the Null hypothesis
    if p_value < significance_level:
        print(f'Statistic:{z_statistic} - P-value:{p_value} - Reject Null Hypothesis')
    else:
        print(f'Statistic:{z_statistic} - P-value:{p_value} - Do Not Reject Null Hypothesis')

In [42]:
# Google

goog_max, goog_std, goog_min, goog_mean, goog_median, goog_size=stat_cal(stock_GOOG['Close'])
aapl_max, aapl_std, aapl_min, aapl_mean, aapl_median, aapl_size=stat_cal(stock_AAPL['Close'])
two_samples_t_test(goog_mean, aapl_mean, goog_std, aapl_std, goog_size, aapl_size)

Two Tails test. H0 is x1=x2 and H1 is x1!=x2
Statistic:-2.51373 - P-value:0.01195 - Reject Null Hypothesis

In [43]:
covid_max, covid_std, covid_min, covid_mean, covid_median, covid_size=stat_cal(stock_GOOG['Close'])
aapl_max, aapl_std, aapl_min, aapl_mean, aapl_median, aapl_size=stat_cal(covid_data['confirmed'])
two_samples_t_test(covid_mean, aapl_mean, covid_std, aapl_std, covid_size, aapl_size)

Two Tails test. H0 is x1=x2 and H1 is x1!=x2
Statistic:-34.16954 - P-value:0.0 - Reject Null Hypothesis

# Model Inference

In [44]:
from fbprophet import Prophet

In [45]:
def prepare_data(data, target_feature): 
    """
    prepare the data for ingestion by fbprophet: 
    see: https://facebook.github.io/prophet/docs/quick_start.html
    """
    new_data = data.copy()
    new_data.reset_index(inplace=True)
    new_data = new_data.rename({'index':'ds', '{}'.format(target_feature):'y'}, axis=1)
    
    return new_data

In [46]:
stock_aapl = prepare_data(data=stock_AAPL_pre, target_feature='Close')
stock_aapl

             ds           y
0    2017-04-01         NaN
1    2017-04-02         NaN
2    2017-04-03   33.718447
3    2017-04-04   33.969517
4    2017-04-05   33.793534
...         ...         ...
1882 2022-05-27  148.995821
1883 2022-05-28         NaN
1884 2022-05-29         NaN
1885 2022-05-30         NaN
1886 2022-05-31  148.199264

[1887 rows x 2 columns]

# Train Test split and model fit

In [47]:
def train_test_split(data):
    
    train = data.set_index('ds').loc[:'2022-04-30', :].reset_index()
    test = data.set_index('ds').loc['2022-05-01':, :].reset_index()
    
    return train, test

- the train and test datasets should be in the ds/y columns form

In [48]:
train, test=train_test_split(data=stock_aapl)

- the Prophet model with 'multiplicative', only yearly and weekly seasonality set to True

In [49]:
m = Prophet(seasonality_mode='multiplicative',
            yearly_seasonality=True,
            weekly_seasonality=True,
            daily_seasonality=False)

In [50]:
m.fit(train)

FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Initial log joint probability = -12.1185
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
      99       3937.71     0.0255557       1183.63           1           1      120
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     199        4038.3     0.0420875       1882.31           1           1      231
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     299       4111.51    0.00184738       308.693           1           1      355
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     399       4145.22     0.0375056       615.297           1           1      478
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     499       4210.39    0.00559876       501.772           1           1      606
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     599       4247.44    0.00389478        1901.2           1           1      722
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     699       4278.43     0.0108967       730.836           1           1      837
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     799       4293.65   0.000355495       1038.89           1           1      956
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     899       4297.03    0.00331188       780.499       0.243           1     1085
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     999       4298.73    0.00118481       311.604           1           1     1214
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1052       4301.75   1.46448e-05       441.383    4.23e-08       0.001     1337  LS failed, Hessian reset
    1099       4303.27    0.00224116        190.52           1           1     1392
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1199       4305.43   0.000172447       185.395           1           1     1520
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1299       4306.82    0.00109557       1219.67           1           1     1638
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1399       4314.07   0.000922348       2013.79           1           1     1753
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1499          4317    0.00279092       665.823           1           1     1877
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1599       4318.79    0.00108703       207.548           1           1     2005
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1699       4320.53    0.00017048       97.5341        2.25       0.225     2128
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1799       4323.15     0.0135619       1314.85           1           1     2260
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1899       4332.36     0.0131923       2645.52      0.2416      0.2416     2378
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1999        4342.6      0.015904       306.932           1           1     2497
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    2099       4352.54     0.0227346       1283.59           1           1     2626
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    2199        4364.1    0.00691258       2412.29     0.09845           1     2741
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    2299       4368.38    0.00202843       780.525           1           1     2858
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    2399       4373.28   0.000667245       943.633      0.8933      0.8933     2979
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    2499       4375.06   0.000326314        2150.7       0.156           1     3101
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    2599       4377.39   0.000127673       1385.81      0.1556      0.1556     3212
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    2697       4379.98    2.5325e-06       274.334   9.621e-09       0.001     3378  LS failed, Hessian reset
    2699       4380.04   0.000289026       555.167           1           1     3382
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    2799       4380.92    0.00209904       1023.12           1           1     3509
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    2899        4381.4   0.000166988       349.655           1           1     3630
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    2954       4381.61   6.17989e-05       728.442   4.413e-07       0.001     3741  LS failed, Hessian reset
    2999       4381.73   8.49825e-05       369.539           1           1     3792
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    3094       4382.02   2.27693e-06       229.889   8.961e-09       0.001     3961  LS failed, Hessian reset
    3099       4382.03   6.93813e-05       358.902           1           1     3966
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    3199       4382.46   2.82291e-05       297.264      0.1767           1     4092
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    3299       4382.69   8.72973e-05       277.563      0.2125           1     4216
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    3399       4382.83   0.000659055       575.668      0.7693     0.07693     4338
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    3499       4383.75    0.00156753       1267.69      0.1534           1     4456
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    3599       4384.16   9.06447e-05        594.66      0.5776      0.5776     4580
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    3699       4384.26   0.000142276        254.75      0.8046      0.8046     4714
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    3787       4384.82   1.31132e-06       130.625   1.485e-08       0.001     4879  LS failed, Hessian reset
    3799       4384.95   0.000109731       165.466           1           1     4895
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    3899       4385.31   0.000165159        161.73           1           1     5016
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    3999       4385.48     0.0004283       248.448       0.423           1     5145
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    4099        4385.6   9.54116e-05       104.255       0.986       0.986     5266
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    4199       4385.76   0.000296586       936.111      0.5592      0.5592     5397
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    4299       4386.08    0.00139702       1008.33           1           1     5515
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    4399       4386.83   5.83794e-05       556.848           1           1     5631
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    4499       4387.46   0.000438788       647.364           1           1     5758
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    4599       4387.94   0.000196075       1199.75           1           1     5881
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    4687       4388.11   1.87681e-06       137.519    3.31e-08       0.001     6041  LS failed, Hessian reset
    4699       4388.12   0.000115287       350.212      0.3275           1     6056
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    4771       4388.17   5.99709e-07       70.5545   8.379e-09       0.001     6200  LS failed, Hessian reset
    4787       4388.19   5.68172e-07       65.5232    1.08e-08       0.001     6270  LS failed, Hessian reset
    4799       4388.19   4.96414e-05       232.313      0.2616           1     6290
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    4882       4388.26    6.1357e-07       77.3872   7.931e-09       0.001     6455  LS failed, Hessian reset
    4884       4388.26   4.82351e-07       39.9214           1           1     6458
Optimization terminated normally:
  Convergence detected: relative gradient magnitude is below tolerance

In [51]:
future=m.make_future_dataframe(periods=30,freq='1D')
future

             ds
0    2017-04-01
1    2017-04-02
2    2017-04-03
3    2017-04-04
4    2017-04-05
...         ...
1881 2022-05-26
1882 2022-05-27
1883 2022-05-28
1884 2022-05-29
1885 2022-05-30

[1886 rows x 1 columns]

In [52]:
forecast=m.predict(future)
forecast

FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,additive_terms,additive_terms_lower,additive_terms_upper,yhat
0,2017-04-01,8.422931,-63.289721,-55.132003,8.422931,8.422931,-8.029907,-8.029907,-8.029907,-7.972584,-7.972584,-7.972584,-0.057323,-0.057323,-0.057323,0.0,0.0,0.0,-59.212421
1,2017-04-02,8.425832,-63.347680,-55.223503,8.425832,8.425832,-8.025581,-8.025581,-8.025581,-7.972584,-7.972584,-7.972584,-0.052997,-0.052997,-0.052997,0.0,0.0,0.0,-59.196364
2,2017-04-03,8.428732,30.677750,39.005988,8.428732,8.428732,3.134035,3.134035,3.134035,3.183958,3.183958,3.183958,-0.049923,-0.049923,-0.049923,0.0,0.0,0.0,34.844673
3,2017-04-04,8.431632,30.680058,39.051292,8.431632,8.431632,3.145130,3.145130,3.145130,3.193229,3.193229,3.193229,-0.048099,-0.048099,-0.048099,0.0,0.0,0.0,34.950214
4,2017-04-05,8.434533,31.057985,39.208853,8.434533,8.434533,3.149179,3.149179,3.149179,3.196678,3.196678,3.196678,-0.047499,-0.047499,-0.047499,0.0,0.0,0.0,34.996383
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1881,2022-05-26,41.816825,160.139273,168.650653,41.744444,41.890779,2.934596,2.934596,2.934596,3.188392,3.188392,3.188392,-0.253796,-0.253796,-0.253796,0.0,0.0,0.0,164.532299
1882,2022-05-27,41.842972,159.808570,168.549580,41.764197,41.932935,2.923164,2.923164,2.923164,3.182911,3.182911,3.182911,-0.259746,-0.259746,-0.259746,0.0,0.0,0.0,164.156858
1883,2022-05-28,41.869119,-308.177727,-298.455098,41.784782,41.974489,-8.237770,-8.237770,-8.237770,-7.972584,-7.972584,-7.972584,-0.265186,-0.265186,-0.265186,0.0,0.0,0.0,-303.039045
1884,2022-05-29,41.895266,-307.878585,-298.635933,41.801581,42.026317,-8.242610,-8.242610,-8.242610,-7.972584,-7.972584,-7.972584,-0.270026,-0.270026,-0.270026,0.0,0.0,0.0,-303.431092
1885,2022-05-30,41.921413,159.759505,168.360130,41.811526,42.065596,2.909770,2.909770,2.909770,3.183958,3.183958,3.183958,-0.274188,-0.274188,-0.274188,0.0,0.0,0.0,163.903085

In [53]:
f = m.plot_components(forecast, figsize=(12, 16))
f.savefig("Multiplicative forecasting-with Prophet")
f.clf()

FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
UserWarning: FixedFormatter should only be used together with FixedLocator
FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
UserWarning: FixedFormatter should only be used together with FixedLocator

In [54]:
def make_predictions_df(forecast, data_train, data_test): 
    """
    Function to convert the output Prophet dataframe to a datetime index and append the actual target values at the end
    """
    forecast.index = pd.to_datetime(forecast.ds)
    data_train.index = pd.to_datetime(data_train.ds)
    data_test.index = pd.to_datetime(data_test.ds)
    data = pd.concat([data_train, data_test], axis=0)
    forecast.loc[:,'y'] = data.loc[:,'y']
    
    return forecast

def plot_predictions(forecast, start_date):
    """
    Function to plot the predictions 
    """
    f, ax = plt.subplots(figsize=(14, 8))
    
    train = forecast.loc[start_date:'2022-05-01',:]
    ax.plot(train.index, train.y, 'ko', markersize=3)
    ax.plot(train.index, train.yhat, color='steelblue', lw=0.5)
    ax.fill_between(train.index, train.yhat_lower, train.yhat_upper, color='steelblue', alpha=0.3)
    
    test = forecast.loc['2022-05-01':,:]
    ax.plot(test.index, test.y, 'ro', markersize=3)
    ax.plot(test.index, test.yhat, color='coral', lw=0.5)
    ax.fill_between(test.index, test.yhat_lower, test.yhat_upper, color='coral', alpha=0.3)
    ax.axvline(forecast.loc['2022-05-01', 'ds'], color='k', ls='--', alpha=0.7)

    ax.grid(ls=':', lw=0.5)
    
    return f, ax

In [55]:
result = make_predictions_df(forecast, train, test)
result.loc[:,'yhat'] = result.yhat.clip(lower=0)
result.loc[:,'yhat_lower'] = result.yhat_lower.clip(lower=0)
result.loc[:, 'yhat_upper'] = result.yhat_upper.clip(lower=0)
result

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,additive_terms,additive_terms_lower,additive_terms_upper,yhat,y
ds,,,,,,,,,,,,,,,,,,,,
2017-04-01,2017-04-01,8.422931,0.000000,0.000000,8.422931,8.422931,-8.029907,-8.029907,-8.029907,-7.972584,-7.972584,-7.972584,-0.057323,-0.057323,-0.057323,0.0,0.0,0.0,0.000000,NaN
2017-04-02,2017-04-02,8.425832,0.000000,0.000000,8.425832,8.425832,-8.025581,-8.025581,-8.025581,-7.972584,-7.972584,-7.972584,-0.052997,-0.052997,-0.052997,0.0,0.0,0.0,0.000000,NaN
2017-04-03,2017-04-03,8.428732,30.677750,39.005988,8.428732,8.428732,3.134035,3.134035,3.134035,3.183958,3.183958,3.183958,-0.049923,-0.049923,-0.049923,0.0,0.0,0.0,34.844673,33.718447
2017-04-04,2017-04-04,8.431632,30.680058,39.051292,8.431632,8.431632,3.145130,3.145130,3.145130,3.193229,3.193229,3.193229,-0.048099,-0.048099,-0.048099,0.0,0.0,0.0,34.950214,33.969517
2017-04-05,2017-04-05,8.434533,31.057985,39.208853,8.434533,8.434533,3.149179,3.149179,3.149179,3.196678,3.196678,3.196678,-0.047499,-0.047499,-0.047499,0.0,0.0,0.0,34.996383,33.793534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-26,2022-05-26,41.816825,160.139273,168.650653,41.744444,41.890779,2.934596,2.934596,2.934596,3.188392,3.188392,3.188392,-0.253796,-0.253796,-0.253796,0.0,0.0,0.0,164.532299,143.161047
2022-05-27,2022-05-27,41.842972,159.808570,168.549580,41.764197,41.932935,2.923164,2.923164,2.923164,3.182911,3.182911,3.182911,-0.259746,-0.259746,-0.259746,0.0,0.0,0.0,164.156858,148.995821
2022-05-28,2022-05-28,41.869119,0.000000,0.000000,41.784782,41.974489,-8.237770,-8.237770,-8.237770,-7.972584,-7.972584,-7.972584,-0.265186,-0.265186,-0.265186,0.0,0.0,0.0,0.000000,NaN
2022-05-29,2022-05-29,41.895266,0.000000,0.000000,41.801581,42.026317,-8.242610,-8.242610,-8.242610,-7.972584,-7.972584,-7.972584,-0.270026,-0.270026,-0.270026,0.0,0.0,0.0,0.000000,NaN
2022-05-30,2022-05-30,41.921413,159.759505,168.360130,41.811526,42.065596,2.909770,2.909770,2.909770,3.183958,3.183958,3.183958,-0.274188,-0.274188,-0.274188,0.0,0.0,0.0,163.903085,NaN

In [56]:
f, ax = plot_predictions(result, '2020-04-01')
f.savefig("Multiplicative forecasting-with Prophet-20200401")
f.clf()

In [57]:
def metrics(result):
    result = result.dropna()
    mse=mean_squared_error(result.loc['2022-05-01':'2022-05-30','y'],result.loc['2022-05-01':'2022-05-30','yhat'])
    print("mean squared error is: ", mse)
    mae=mean_absolute_error(result.loc['2022-05-01':'2022-05-30','y'],result.loc['2022-05-01':'2022-05-30','yhat'])
    print("mean absolute error is :", mae)
    rmse=np.sqrt(mse) #mse**(0.5) 
    print("root mean squared error is: ", rmse)
    r2 = r2_score(result.loc['2022-05-01':'2022-05-30','y'],result.loc['2022-05-01':'2022-05-30','yhat'])
    print("R-squared is: ", r2)
    return mse,mae,rmse,r2

In [58]:
mse,mae,rmse,r2= metrics (result)

mean squared error is:  386.5920407194324
mean absolute error is : 18.179176547367838
root mean squared error is:  19.661943971017525
R-squared is:  -5.367487738566045

In [59]:
# from sklearn.metrics import mean_squared_error
# from sklearn.metrics import mean_absolute_error
# result = result.dropna()
# mean_squared_error(result.loc['2022-05-01':'2022-05-30','y'],result.loc['2022-05-01':'2022-05-30','yhat'])
# result = result.dropna()
# mean_absolute_error(result.loc['2022-05-01':'2022-05-30','y'],result.loc['2022-05-01':'2022-05-30','yhat'])

# Extra regressors are added

- extra regressors are added to improve the forecasting performance. Generally, this means auxiliary data are added into the Prophet model.

In [60]:
m = Prophet(seasonality_mode='multiplicative',
            yearly_seasonality=True, 
            weekly_seasonality=True,
            daily_seasonality=False)

In [61]:
m.add_regressor('confirmed', mode='multiplicative')
m.add_regressor('GOOG Close', mode='multiplicative')

In [62]:
stock_AAPL_merge

            AAPL Close
2017-04-01         NaN
2017-04-02         NaN
2017-04-03   33.718447
2017-04-04   33.969517
2017-04-05   33.793534
...                ...
2022-05-27  148.995821
2022-05-28         NaN
2022-05-29         NaN
2022-05-30         NaN
2022-05-31  148.199264

[1887 rows x 1 columns]

In [63]:
pd_merged_2=pd.concat([stock_AAPL_merge,stock_GOOG_merge, covid_confirmed_pre],axis=1,join="outer",)
pd_merged_2 = pd_merged_2.reset_index()
pd_merged_2 = pd_merged_2.rename(columns={'index':'ds', 'AAPL Close':'y'})
pd_merged_2 = pd_merged_2.fillna(0)
train_extra, test_extra = train_test_split(pd_merged_2)
train_extra

             ds           y  GOOG Close   confirmed
0    2017-04-01    0.000000      0.0000         0.0
1    2017-04-02    0.000000      0.0000         0.0
2    2017-04-03   33.718447     41.9275         0.0
3    2017-04-04   33.969517     41.7285         0.0
4    2017-04-05   33.793534     41.5705         0.0
...         ...         ...         ...         ...
1851 2022-04-26  155.897020    119.5060  80996837.0
1852 2022-04-27  155.668345    115.0205  81081307.0
1853 2022-04-28  162.697630    119.4115  81154876.0
1854 2022-04-29  156.742125    114.9665  81236707.0
1855 2022-04-30    0.000000      0.0000  81259033.0

[1856 rows x 4 columns]

In [64]:
m.fit(train_extra)

FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Initial log joint probability = -171.024

    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
      99       5491.25     0.0156777       1682.13           1           1      130
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     199       5741.99     0.0119444       3505.09           1           1      252
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     299       5913.28      0.031241        2464.9           1           1      375
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     399       5960.34    0.00338993       569.168      0.7376      0.7376      495
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     499       5975.62    0.00380765        563.56           1           1      615
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     599       5996.31    0.00981843       800.178        1.81       0.181      735
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     699       6011.24    0.00823753        1302.2           1           1      859
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     799       6016.62    0.00110425       999.942     0.06663           1      980
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     899       6023.18    0.00473215       1823.63           1           1     1095
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     999       6038.45     0.0500043       528.011           1           1     1211
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1099       6047.05     0.0012341       526.481           1           1     1339
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1199       6055.64    0.00076369       450.836      0.5518      0.5518     1473
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1299       6056.67   0.000470766        87.512           1           1     1598
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1399       6057.08   0.000104599       151.733      0.2438      0.2438     1722
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1499       6058.74   0.000323613       340.999           1           1     1841
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1599       6059.35   6.39316e-05       354.124      0.3886      0.3886     1967
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1699       6063.78      0.113742       578.566      0.9746      0.9746     2097
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1799        6068.5    0.00188109        420.19      0.2694      0.9975     2234
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1800       6068.51   1.21052e-05       261.292   2.881e-08       0.001     2294  LS failed, Hessian reset
    1899       6071.29    0.00154089       780.732       0.494           1     2411
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1999       6072.94   5.48646e-05        110.78           1           1     2542
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    2036       6072.99   1.58677e-05       221.254   2.331e-07       0.001     2627  LS failed, Hessian reset
    2099       6073.07   0.000420328       88.6184       0.899       0.899     2701
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    2199       6073.57   0.000276207        254.46       0.368       0.368     2828
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    2299       6073.67   0.000435502       56.9589           1           1     2951
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    2384        6073.7   3.68227e-06       88.3092   4.529e-08       0.001     3105  LS failed, Hessian reset
    2399        6073.7   1.15355e-05       66.8644           1           1     3121
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    2406       6073.71   6.16732e-07       50.9155     0.01436           1     3135
Optimization terminated normally:
  Convergence detected: relative gradient magnitude is below tolerance

In [65]:
future = m.make_future_dataframe(periods=len(test_extra), freq='1D')
future

             ds
0    2017-04-01
1    2017-04-02
2    2017-04-03
3    2017-04-04
4    2017-04-05
...         ...
1882 2022-05-27
1883 2022-05-28
1884 2022-05-29
1885 2022-05-30
1886 2022-05-31

[1887 rows x 1 columns]

In [66]:
futures = pd_merged_2.drop(['y'], axis=1)
futures

             ds  GOOG Close   confirmed
0    2017-04-01      0.0000         0.0
1    2017-04-02      0.0000         0.0
2    2017-04-03     41.9275         0.0
3    2017-04-04     41.7285         0.0
4    2017-04-05     41.5705         0.0
...         ...         ...         ...
1882 2022-05-27    112.7990  83903655.0
1883 2022-05-28      0.0000  83917417.0
1884 2022-05-29      0.0000  83926462.0
1885 2022-05-30      0.0000  83958614.0
1886 2022-05-31    114.0390  84140997.0

[1887 rows x 3 columns]

In [67]:
forecast = m.predict(futures)

FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

In [68]:
f = m.plot_components(forecast, figsize=(12, 16))
f.savefig("Multiplicative forecasting-with Prophet&AUX")
f.clf()

FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
UserWarning: FixedFormatter should only be used together with FixedLocator
FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
UserWarning: FixedFormatter should only be used together with FixedLocator

In [69]:
result = make_predictions_df(forecast, train_extra, test_extra)
result.loc[:,'yhat'] = result.yhat.clip(lower=0)
result.loc[:,'yhat_lower'] = result.yhat_lower.clip(lower=0)
result.loc[:, 'yhat_upper'] = result.yhat_upper.clip(lower=0)

f, ax = plot_predictions(result, '2021-04-01')
f.savefig("Multiplicative forecasting-with Prophet&AUX-20210401")
f.clf()

In [70]:
def metrics(result):
    result = result.dropna()
    mse=mean_squared_error(result.loc['2022-05-01':'2022-05-30','y'],result.loc['2022-05-01':'2022-05-30','yhat'])
    print("mean squared error is: ", mse)
    mae=mean_absolute_error(result.loc['2022-05-01':'2022-05-30','y'],result.loc['2022-05-01':'2022-05-30','yhat'])
    print("mean absolute error is :", mae)
    rmse=np.sqrt(mse) #mse**(0.5) 
    print("root mean squared error is: ", rmse)
    r2 = r2_score(result.loc['2022-05-01':'2022-05-30','y'],result.loc['2022-05-01':'2022-05-30','yhat'])
    print("R-squared is: ", r2)
    return mse,mae,rmse,r2

In [71]:
mse,mae,rmse,r2=metrics(result)

mean squared error is:  26.169673759950385
mean absolute error is : 3.966696431466482
root mean squared error is:  5.1156303384773985
R-squared is:  0.9946482530109282